
X0		25 15,35
Y0		25 15,35
FUNCTION Sersic
PA    90 0,180
ell    0.5 0,1
n      1    fixed  #means it is exponential
I_e   0.1 0,10
r_e   1 0.4,10.
	
X0		25 5,45
Y0		25 5,45
FUNCTION Sersic
PA    90 0,180
ell    0.5 0,1
n      1    fixed  #means it is exponential
I_e   0.1 0,10
r_e   1 0.4,10.
	
X0		25 5,45
Y0		25 5,45
FUNCTION Sersic
PA    90 0,180
ell    0.5 0,1
n      1    fixed  #means it is exponential
I_e   0.1 0,10
r_e   1 0.4,10.
	
X0		25 5,45
Y0		25 5,45
FUNCTION Sersic
PA    90 0,180
ell    0.5 0,1
n      1    fixed  #means it is exponential
I_e   0.1 0,10
r_e   1 0.4,10.

X0		25 5,45
Y0		25 5,45
FUNCTION Sersic
PA    90 0,180
ell    0.5 0,1
n      1    fixed  #means it is exponential
I_e   0.1 0,10
r_e   1 0.4,10.
	
X0		25 5,45
Y0		25 5,45
FUNCTION Sersic
PA    90 0,180
ell    0.5 0,1
n      1    fixed  #means it is exponential
I_e   0.1 0,10
r_e   1 0.4,10.
	
X0		25 5,45
Y0		25 5,45
FUNCTION Sersic
PA    90 0,180
ell    0.5 0,1
n      1    fixed  #means it is exponential
I_e   0.1 0,10
r_e   1 0.4,10.
	
